PORT=8080

POSTGRES_USER=cloudqueue
POSTGRES_PASSWORD=cloudqueue_dev_password
POSTGRES_DB=cloudqueue
POSTGRES_PORT=5433

DATABASE_URL=postgres://cloudqueue:cloudqueue_dev_password@localhost:5433/cloudqueue?sslmode=disable

LOCAL_STORAGE_ROOT=./data

AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_PORT=4566
SQS_ENDPOINT_URL=http://localhost:4566
SQS_QUEUE_NAME=cloudqueue-jobs
SQS_QUEUE_URL=http://localhost.localstack.cloud:4566/queue/ap-northeast-2/000000000000/cloudqueue-jobs
SQS_WAIT_TIME_SECONDS=10
