PORT=8080

POSTGRES_USER=cloudqueue
POSTGRES_PASSWORD=cloudqueue_dev_password
POSTGRES_DB=cloudqueue
POSTGRES_PORT=5433

DATABASE_URL=postgres://cloudqueue:cloudqueue_dev_password@localhost:5433/cloudqueue?sslmode=disable

LOCAL_STORAGE_ROOT=./data
